{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-0 col-sm-6 col-md-4 display panel panel-default">

        <div class="panel-body">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}noimage.png" alt="product.name">
            {% endif %}

            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <p>{{ product.price }}</p>
            
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Qty">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>

                    </span>

                </div>

            </form>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}